.filter {
  justify-content: space-between;
  padding: 26px 0;

  &__label {
    align-items: baseline;
    cursor: pointer;

    input {
      margin-right: 10px;
      cursor: pointer;
    }
  }

  &__change {
    text-decoration: underline;
    cursor: pointer;

    &.active {
      font-weight: 800;
      text-decoration: none;
    }
  }

  &__label,
  &__text {
    font-size: 16px;
    line-height: 1.25;
  }
}
